[submodule "flume_filtering"]
	path = flume_filtering
	url = https://github.com/ashrithr/flume_filtering.git
[submodule "log_analytics_mapreduce"]
	path = log_analytics_mapreduce
	url = https://github.com/ashrithr/log_analytics_mapreduce.git
[submodule "analytics-hive-demo"]
	path = analytics-hive-demo
	url = https://github.com/ashrithr/analytics-game-demo.git
[submodule "ncdc_data_processing"]
	path = ncdc_data_processing
	url = https://github.com/ashrithr/ncdc_data_processing.git
